.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  gap: 31px;
  padding: 33px;
  box-sizing: border-box;
}

.cart__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.cart__remove {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  text-decoration-line: underline;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
}
.cart__remove:hover {
  cursor: pointer;
}

.cart__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.cart__total-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.cart__total-description-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__total-description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
}

.cart__total-price {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  text-align: right;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.cart__total-price_type_grand {
  color: #d87d4a;
}

.cart__button {
  width: 100%;
  height: 48px;
  background: #d87d4a;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__button:hover {
  cursor: pointer;
  background: #fbaf85;
}
.cart__button_disabled {
  opacity: 0.4;
  pointer-events: none;
}

.cart__checkout-continer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
