.cart-card__item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.cart-card__item_remove {
  animation: remove 1s ease 0s 1 normal forwards;
}

.cart-card__item-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.cart-card__image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center;
}

.cart-card__info-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cart-card__item-name {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  color: #000000;
  margin: 0;
}

.cart-card__item-price {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height, or 179% */
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
}

.cart-card__amount {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
.cart-card__amount_type_summary {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  text-align: right;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.cart-card__amount-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 96px;
  height: 32px;
  background: #f1f1f1;
  padding: 7px 11px;
  box-sizing: border-box;
}

.cart-card__amount-control {
  width: 8px;
  height: 18px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.cart-card__amount-control:hover {
  color: #d87d4a;
  cursor: pointer;
}

@keyframes remove {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
